<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connectionString" value="Host=localhost;Port=5432;Username=sa;Password=Password@Hahahaha!;Database=postgres" />
		<add key="table" value="synthetic_fraud_data"/>
		<add key="pathFile" value="D:\Works\TurboImporter\Data\synthetic_fraud_data.csv"/>
		<add key="batchSize" value="500000"/>
	</appSettings>
</configuration>